<plist version="1.0">
<script/>
<script/>
	<dict>
		<key>items</key>
	<array>
	<dict>
	<key>assets</key>
	<array>
		<dict>
			<key>kind</key>
			<string>software-package</string>
			<key>url</key>
			<string>https://drive.google.com/file/d/1VKvM49e2QBiZACyaX0BqXpID6Ase6Jxn/view?usp=sharing</string>
		</dict>
		</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>kr.co.xisnd.mcs</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>XISND CS DEV</string>
			</dict>
		</dict>
	</array>
	</dict>
</plist>
